@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body {
  margin: 0;
font-family: 'Racing Sans One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bx1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color:rgb(35, 35, 80);

}
.header {
  padding:10px;
  background-color: beige;

}

.content{
  min-height: 90vh;

}
